@import "./styles.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--gray);
    color: var(--white);
}

.view {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-gap: 0.2rem;
    width: 95%;
    max-width: 1200px;
    min-width: 400px;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .id-column {
        display: none;
    }
}

.avatar-preview {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.table-header {
    font-weight: bold;
}

.content,
.table-header {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.content {
    cursor: pointer;
}

.content:nth-child(odd) {
    background-color: var(--black);
}

.content:nth-child(even) {
    background-color: var(--dark-gray);
}

.content:hover {
    background-color: var(--green);
}

.clickable {
    cursor: pointer;
}

.highlighted-user {
    box-shadow: 0 0 0 0.2rem var(--green);
}

.pie-progress {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.emoji-grid {
    display: inline-block;
    margin: 0.1rem;
}

.macro-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--dark-gray);
    border-radius: 1rem;
}

.macro-input-name,
.macro-input-value {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: var(--light-gray);
    color: var(--white);
}

.macro-input-name {
    grid-column: 1 / 2;
}

.macro-input-value {
    grid-column: 2 / 5;
}

.macro-button,
.delete-button {
    all: unset;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: opacity 0.2s ease-in-out;
    grid-column: 5;
    align-self: start;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--dark-gray);
}

.macro-button {
    border: 1px solid var(--green);
    color: var(--green);
}

.macro-button:hover {
    background-color: var(--green);
    color: var(--light-green);
    border: solid 1px var(--light-green);
}

.delete-button {
    border: solid 1px var(--red);
    color: var(--red);
}

.delete-button:hover {
    background-color: var(--red);
    color: var(--light-red);
    border: solid 1px var(--light-red);
}

.green-link {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.green-link:hover {
    cursor: pointer;
}

.green-link:hover .fa,
.green-link:hover .fab {
    color: var(--light-green);
}

.small-link {
    color: var(--green);
    text-decoration: none;
}

.small-link:hover {
    cursor: pointer;
}

.small-link:hover {
    color: var(--light-green);
}

.list {
    list-style-type: none;
    padding: 0.5rem;
}

.list li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--light-gray);
}

.list li:hover {
    background-color: var(--black);
    color: var(--light-green);
    border-radius: 0.5rem;
}

.general-header,
.cpu-header,
.ram-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.general-stats,
.cpu-stats,
.ram-stats {
    margin-bottom: 0.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.name {
    grid-column: 1;
    font-weight: bold;
}

.stat {
    grid-column: 2;
}
