:root {
    --white: #ddd;
    --black: #1e2124;
    --dark-gray: #2f3136;
    --gray: #36393e;
    --green: #43b581;
    --light-green: #53e6a4;
    --discord-blue: #7289da;
    --discord-dark: #697eca;
}
