:root {
    --white: #ddd;
    --black: #1e2124;
    --dark-gray: #2f3136;
    --gray: #36393e;
    --light-gray: #72767d;
    --green: #43b581;
    --light-green: #53e6a4;
    --discord-blue: #7289da;
    --discord-dark: #697eca;
    --red: #f04747;
    --light-red: #f07070;
}
